*~
textures
*#
.#*
bin
dbg
*.user*
build*
*.sw?
tags
.ycm_extra_conf.pyc
*.autosave
*DS_Store*
*.gz
*.rpm
*.zip
*.bak
*.patch
.vscode
deps
tbb
ispc
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.lbl
*.log
paper/pointQueries/rtxPointQueries.pdf
paper/pointQueries/rtxPointQueries-compressed.pdf
*.swp
*.out
Session.vim
.idea
!*png/*.pdf
.vs/
samples/advanced/optix7course/models/

